<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<style>
	body{
		background-color: aqua;
		padding-left: 25px;
		padding-right: 25px;
		padding-top: 25px;
	}
	#operation_selector{
		font-size: 22px;
		margin-bottom: 22px;
	}

	#table_selector{
		font-size: 20px;
	}

	#table_selector input[type='radio']{
		margin-right: 10px;
		margin-bottom: 10px;		
	}
	#table_selector input[type="radio"]:disabled{
		background-color: gray;
	}

	.fill_table td{
		border-style: solid;
		border-width: 1px;
		border-color: black;
		padding :3px ;
		min-width: 182px;
	}
	.fill_table{
		min-width: 1092px;
	}
	#submit_div{
		padding-top: 10px;
	}
	#submit_new {
		padding-top: 10px;
	}
	#submit_new button{
		padding:3px;
	}
	</style>
</head>
 <body style="center">
 	<div id="success_message" hidden>
 		Operation was successfull
 	</div>
 	<div id="fail_message" hidden>
 		Operation Failed
 	</div>
	<div id="operation_selector">
		<div> Which operation would you like to perform?</div>
		<input type="radio" name="select_op" value="select"> Select </input>
		<input type="radio" name="select_op" value="insert"> Insert </input>
		<input type="radio" name="select_op" value="update"> Update </input>
		<input type="radio" name="select_op" value="delete"> Delete </input>
	</div>

	<div id="table_selector" hidden>
		<div> Select which table you would like to operate on </div>
		<input type="radio" name="select_table" value="game"> Games </input>
		<br>
		<input type="radio" name="select_table" value="character"> Characters </input>
		<br>
		<input type="radio" name="select_table" value="console"> Console </input>
		<br>
		<input type="radio" name="select_table" value="company"> Company </input>
		<br>
		<input type="radio" class="delete update insert" name="select_table" value="games_consoles"> Games a console is on </input>
		<br>
		<input type="radio" class="delete update insert" name="select_table" value="console_games"> Consoles have which games </input>
		<br>
		<input type="radio" class="delete update insert" name="select_table" value="char_games"> Character's are in which games</input>
		<br>
		<input type="radio" class="delete update insert" name="select_table" value="games_characters"> Games' have which characters </input>
		<br>
		<input type="radio" class="select update delete" name="select_table" value="character_to_game"> Character and Game </input>
		<br>
		<input type="radio" class="select update delete" name="select_table" value="game_to_console"> Game and Console </input>
		<br>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div id="final_update_message" hidden>
		Press Submit to Update Your Changes
	</div>
	<div id="final_delete_message" hidden>
		Are you sure you want to delete this item?
	</div>
	<div id="request_update" hidden>
    	<label>Please enter the name of what you want to change and hit submit</label> <br>
    	<input  id="update_delete_id" type="text"></input>
    	<button id="get_single_data"> Get data to change </button>
	</div>	
	<div id="begin_message" hidden>
		Please enter any data you would like to query on.
		Each column will be AND'd together and will check only for equality
	</div>
	<div id="provide_name" hidden>
		<div id="messages">
			<div id="games_message" hidden>
				Please enter the name of the Game you want to address
			</div>
			<div id="console_message" hidden>
				Please enter the name of the Console you want to address
			</div>
			<div id="character_message" hidden>
				Please enter the name of the Character you want to address
			</div>
		</div>
		<div id ="update_insert">
			<input id="connector_name" type="text"></input>
		</div>
	</div>
	<div class="fill_table" id="ctg_table" hidden>
		<table>
			<tr>
				<td>Character Name</td>
				<td>Game Name</td>
			</tr>
			<tr id="update_insert" hidden>
				<td><input class="character_id" type="text"></input></td>
				<td><input class="game_id" type="text"></input></td>
			</tr>
		</table>
	</div>
	<div class="fill_table" id="game_table" hidden>
		<table>
			<tr>
				<td>Game ID</td>
				<td>Name</td>
				<td>Release Date</td>
				<td>Publisher</td>
				<td>Developer</td>
				<td>Rating</td>
			</tr>
			<tr id="update_insert" hidden>
				<td><input disabled class="game_id" type="text"></input></td>
				<td><input class="name" type="text"></input></td>
				<td><input class="release_date" placeholder="MM-DD-YYYY" type="text"></input></td>
				<td><input class="publisher" type="text"></input></td>
				<td><input class="developer" type="text"></input></td>
				<td><input class="rating" type="text"></input></td>
			</tr>
		</table>
	</div>

	<div class="fill_table" id="char_table" hidden>
		<table>
			<tr>
				<td>Character ID</td>
				<td>Name</td>
				<td>Alias</td>
				<td>Gender</td>
				<td>Description</td>
				<td>First Game</td>
			</tr>
			<tr id="update_insert" hidden>
				<td><input disabled class="character_id" type="text"></input></td>
				<td><input class="name" type="text"></input></td>
				<td><input class="alias" type="text"></input></td>
				<td><input class="gender" type="text"></input></td>
				<td><input class="description" type="text"></input></td>
				<td><input class="first_game" type="text"></input></td>
			</tr>
		</table>
	</div>

	<div class="fill_table" id="console_table" hidden>
		<table>
			<tr>
				<td>Console ID</td>
				<td>Name</td>
				<td>Abbreviation</td>
				<td>Description</td>
				<td>Number Sold</td>
				<td>Owner Company</td>
				<td>Release Date</td>
			</tr>
			<tr id="update_insert" hidden>
				<td><input disabled class="console_id" type="text"></input></td>
				<td><input class="name" type="text"></input></td>
				<td><input class="abbreviation" type="text"></input></td>
				<td><input class="descrption" type="text"></input></td>
				<td><input class="number_sold" type="text"></input></td>
				<td><input class="owner_company" type="text"></input></td>
				<td><input class="release_date" placeholder="MM-DD-YYYY" type="text"></input></td>
			</tr>
		</table>
	</div>
	<div class="fill_table" id="company_table" hidden>
		<table>
			<tr>
				<td>Company ID</td>
				<td>Name</td>
				<td>Date Founded</td>
				<td>Address</td>
				<td>Website</td>
				<td>Phone</td>
			</tr>
			<tr id="update_insert" hidden>
				<td><input disabled class="company_id" type="text"></input></td>
				<td><input class="name" type="text"></input></td>
				<td><input class="date_founded" type="text"></input></td>
				<td><input class="address" type="text"></input></td>
				<td><input class="website" type="text"></input></td>
				<td><input class="phone" type="text"></input></td>
			</tr>
		</table>
	</div>
	<div class="fill_table" id="gtcon_table" hidden>
		<table>
			<tr>
				<td>Console Name</td>
				<td>Game Name</td>
			</tr>
			<tr id="update_insert" hidden>
				<td><input class="console_id" type="text"></input></td>
				<td><input class="game_id" type="text"></input></td>
			</tr>
		</table>
	</div>
	<div id="submit_div" hidden>
		<button id="submit_request"> Submit Request </button>
	</div>
	<div id="submit_new">
		<button id="submit_new"> Reset Query </button>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="../js/ddFrontEndJavaScript.js"></script>
 </body>
 </html>