<!DOCTYPE html>
<html>

<head>
</head>
 <body>
 	<div id="success_message" hidden>
 		Operation was successfull
 	</div>
 	<div id="fail_message" hidden>
 		Operation Failed
 	</div>
	<div id="operation_selector">
		<div> Which operation would you like to perform?</div>
		<input type="radio" name="select_op" value="select"> Select </input>
		<input type="radio" name="select_op" value="insert"> Insert </input>
		<input type="radio" name="select_op" value="update"> Update </input>
		<input type="radio" name="select_op" value="delete"> Delete </input>
	</div>

	<div id="table_selector" hidden>
		<div> Select which table you would like to operate on </div>
		<input type="radio" name="select_table" value="ctg"> Character to Game </input>
		<input type="radio" name="select_table" value="game"> Games </input>
		<input type="radio" name="select_table" value="character"> Characters </input>
		<input type="radio" name="select_table" value="consoles"> Console </input>
		<input type="radio" name="select_table" value="gtcon"> Game to Console </input>
		<input type="radio" name="select_table" value="company"> Company </input>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div id="request_update" hidden>
    	<label>Please enter the ID of the table you want to update and hit submit</label> <br>
    	<input  id="update_delete_id" type="text"></input>
    	<button id="get_single_data"> Get data to change </button>
	</div>	
	<div id="begin_message" hidden>
		Please enter any data you would like to query on.
		Each column will be AND'd together and will check only for equality
	</div>
	<div id="ctg_table" hidden>
		<table>
			<tr>
				<td>Character Id</td>
				<td>Game Id</td>
			</tr>
			<tr id="update_insert" hidden>
				<td><input col="character_id" type="text"></input></td>
				<td><input col="game_id" type="text"></input></td>
			</tr>
		</table>
	</div>
	<div id="game_table" hidden>
		<table>
			<tr>
				<td>Game ID</td>
				<td>Name</td>
				<td>Release Date</td>
				<td>Publisher</td>
				<td>Developer</td>
				<td>Rating</td>
			</tr>
			<tr id="update_insert" hidden>
				<td><input disabled col="game_id" type="text"></input></td>
				<td><input col="name" type="text"></input></td>
				<td><input col="release_date" type="text"></input></td>
				<td><input col="publisher" type="text"></input></td>
				<td><input col="developer" type="text"></input></td>
				<td><input col="rating" type="text"></input></td>
			</tr>
		</table>
	</div>

	<div id="char_table" hidden>
		<table>
			<tr>
				<td>Character ID</td>
				<td>Name</td>
				<td>Alias</td>
				<td>Gender</td>
				<td>Description</td>
				<td>First Game</td>
			</tr>
			<tr id="update_insert" hidden>
				<td><input disabled col="character_id" type="text"></input></td>
				<td><input col="name" type="text"></input></td>
				<td><input col="alias" type="text"></input></td>
				<td><input col="gender" type="text"></input></td>
				<td><input col="description" type="text"></input></td>
				<td><input col="first_game" type="text"></input></td>
			</tr>
		</table>
	</div>

	<div id="console_table" hidden>
		<table>
			<tr>
				<td>Console ID</td>
				<td>Name</td>
				<td>Abbreviation</td>
				<td>Description</td>
				<td>Number Sold</td>
				<td>Owner Company</td>
				<td>Release Date</td>
			</tr>
			<tr id="update_insert" hidden>
				<td><input disabled col="console_id" type="text"></input></td>
				<td><input col="name" type="text"></input></td>
				<td><input col="abbreviation" type="text"></input></td>
				<td><input col="descrption" type="text"></input></td>
				<td><input col="number_sold" type="text"></input></td>
				<td><input col="owner_company" type="text"></input></td>
				<td><input col="release_date" type="text"></input></td>
			</tr>
		</table>
	</div>
	<div id="company_table" hidden>
		<table>
			<tr>
				<td>Company ID</td>
				<td>Name</td>
				<td>Date Founded</td>
				<td>Address</td>
				<td>Website</td>
				<td>Phone</td>
			</tr>
			<tr id="update_insert" hidden>
				<td><input disabled col="company_id" type="text"></input></td>
				<td><input col="name" type="text"></input></td>
				<td><input col="date_founded" type="text"></input></td>
				<td><input col="address" type="text"></input></td>
				<td><input col="website" type="text"></input></td>
				<td><input col="phone" type="text"></input></td>
			</tr>
		</table>
	</div>
	<div id="gtcon_table" hidden>
		<table>
			<tr>
				<td>Console Id</td>
				<td>Game Id</td>
			</tr>
			<tr id="update_insert" hidden>
				<td><input col="console_id" type="text"></input></td>
				<td><input col="game_id" type="text"></input></td>
			</tr>
		</table>
	</div>
	<div id="submit_div">
		<button id="submit_request"> Submit Request </button>
	</div>
	<div id="submit_new">
		<button id="submit_new"> Submit New </button>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="../js/ddFrontEndJavaScript.js"></script>
 </body>
 </html>